# Project's ignores
luigi.cfg
/volumes

# ### Defaults ###

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
sdist/

# Sphinx documentation
docs/_build/

# Environments
.venv
